<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                {%- include logo.html -%}
                <div>
                    Voor alle kinderen in de wijk Maaspoort.<br>
                    <br>
                    <ul>
                        <li>
                            <a href="tel:0736423733">
                                <i class="fas fa-phone-alt" style="color:#ff8454;"></i>
                                073 642 3733
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt" style="color:#ff8454;"></i>
                            Troelstradreef 160<br>
                            5237 DE 's-Hertogenbosch
                        </li>
                        <li>
                            <a href="mailto:info@maaspoortkids.nl">
                                <i class="far fa-envelope" style="color:#ff8454;"></i>
                                info@maaspoortkids.nl
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h5>Tags</h5>

            </div>
            <div class="col-4">
                <h5>Recente nieuws</h5>
            </div>
        </div>
    </div>
</footer>
