<script src="/assets/javascript/jquery.instagramFeed.min.js"></script>
<script>
    (function($){
        $(window).on('load', function(){
            $.instagramFeed({
                'username': 'maaspoort_kids',
                'container': "#instagram-feed",
                'display_profile': false,
                'display_biography': false,
                'display_gallery': true,
                'display_captions': true,
                'callback': null,
                'styling': true,
                'items': 10,
                'items_per_row': 10,
                'margin': 0.25,
                'lazy_load': true,
                'on_error': console.error
            });
        });
    })(jQuery);
</script>
