<div class="container">
    <ul class="nav nav-tabs menu">
        {% for nav in site.data.navigation %}
        <li class="nav-item">
            <a {% if nav.url== page.url %}
               class="nav-link active"
               {% else %}
               class="nav-link"
               {% endif %}
               href="{{ nav.url }}">
                {{ nav.text }}
                {% if nav.url== page.url %}
                <span class="sr-only">(current)</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
