<div class="container">
    <ul class="nav nav-tabs menu">
        {% for nav in site.data.navigation %}
        <li class="nav-item">
            <a {% if nav.url== page.url %}
               class="nav-link active"
               {% else %}
               class="nav-link"
               {% endif %}
               href="{{ nav.url }}">
                {{ nav.text }}
                {% if nav.url== page.url %}
                <span class="sr-only">(current)</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
        <li class="nav-item ml-auto">
            <a class="nav-link" target="_blank" href="https://www.facebook.com/maaspoortkids/">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.instagram.com/maaspoort_kids/">
                <i class="fab fa-instagram-square"></i>
            </a>
        </li>
    </ul>
</div>
