.wrap {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {
    .wrap {
        padding: 0;
    }
}

/* ---[ listing ]---------------------------------------------------------------------------------------------------- */
.listing {
    margin-top: -40px
}

@media only screen and (min-width: 768px) {
    .listing {
        margin-top: -60px
    }
}

/* ---[ hero ]------------------------------------------------------------------------------------------------------- */
.hero-fp {
    position: relative;
    padding: 0 0 90px;
    background: #f1f1f1;
}

/* ---[ hero ]------------------------------------------------------------------------------------------------------- */
.hero {
    position: relative;
    padding: 60px 0 100px;
    background: #132930
}

@media only screen and (min-width: 768px) {
    .hero {
        padding: 120px 0 180px
    }
}

@media only screen and (min-width: 1220px) {
    .hero {
        padding: 160px 0 220px
    }
}

.hero .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.hero .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(19, 41, 48, .8)
}

/* --[ page ]-------------------------------------------------------------------------------------------------------- */
.page {
    position: relative;
    margin-top: -40px;
    background: #fff;
    padding: 3rem;
    -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 6px 16px rgba(0, 0, 0, .05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, .05)
}

@media only screen and (min-width: 768px) {
    .page {
        margin-top: -60px;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .05)
    }
}

@media only screen and (min-width: 1220px) {
    .page {
        -webkit-box-shadow: 0 14px 26px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 14px 26px rgba(0, 0, 0, .05);
        box-shadow: 0 14px 26px rgba(0, 0, 0, .05)
    }
}

/* --[ submenu ]----------------------------------------------------------------------------------------------------- */
.submenu {
    background-color: #777;
    margin-bottom: 2rem
}

.submenu .nav-link {
    color: #fff;
}

.submenu .active {
    color: #57c6fa;
}

.iframe-wrapper {
    position: relative;
    height: 0;
    padding-top: 30%;
    overflow: hidden;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
