@font-face {
    font-family: neon;
    src: url(/assets/fonts/neon-regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: neon;
    src: url(/assets/fonts/neon-bold.woff);
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Muli';
}

/* -- [ footer ]----------------------------------------------------------------------------------------------------- */
footer {
    clear: both;
    display: block;
    font-family: 'Oswald';
    color: #000;
    margin-bottom: 2rem;
}

footer .container {
    padding: 1rem;
}

footer li {
    list-style-type: none;
}

footer .nav-link, footer .nav-link:visited {
    color: #000;
}

/* -- [ navbar ]----------------------------------------------------------------------------------------------------- */
.navbar {
    text-transform: uppercase;
    font-family: 'Oswald';
    background-color: #000 !important;
}

.nav-link, .nav-link:visited {
    color: #FFF;
    text-decoration: none;
}

.nav-link:hover {
    color: #ec1e21;
    text-decoration: none;
}

.nav-link.active {
    color: #d327c1;
}

.navbar-toggler {
    color: #FFFFFF;
}

/* -- [ colors ]----------------------------------------------------------------------------------------------------- */
.cd {
    color: #efefef;
}

.m {
    color: #efefef;
}

.k {
    color: #d327c1;
}

.i {
    color: #57c6fa;
}

.d {
    color: #2af21d;
}

.s {
    color: #ec1e21;
}

.disabled .k, .disabled .i, .disabled .d, .disabled .s {
    color: #aaa !important;
}

.o {
    color: #ff8454;
}

/* --[ logo ]-------------------------------------------------------------------------------------------------------- */
.logo {
    display: block;
    font-size: 2rem;
}

.logo img {
    height: 30px;
    width: auto;
    border: #FFFFFF solid 2px;
    border-radius: 15px;
}

.logo .cd {
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
}

.logo .m, .logo .k, .logo .i, .logo .d, .logo .s {
    font-family: neon;
    text-transform: uppercase;
}

.logo .i, .logo .d, .logo .s {
    margin-left: -0.5rem;
}

/* -- [ latestUpdate ]----------------------------------------------------------------------------------------------- */
.latestUpdate.small-gap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.latestUpdate {
    padding: 0;
    background: #f1f1f1;
}

/* -- [ calendar ]--------------------------------------------------------------------------------------------------- */
.calendar {
    width: 3.125rem;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: .375rem;
    float: left;
    margin-right: 1rem;
}

.calendar .calendar-month {
    color: #fff;
    border-radius: .375rem .375rem 0 0;
    padding: .25rem;
    font-weight: 600;
}

.calendar-month.k {
    background-color: #d327c1;
}

.calendar-month.i {
    background-color: #57c6fa;
}

.calendar-month.d {
    background-color: #2af21d;
}

.calendar-month.s {
    background-color: #ec1e21;
}

.calendar .calendar-day {
    font-size: 1.728rem;
    padding: .25rem;
    border-top: 0;
    border-radius: 0 0 .375rem .375rem;
    font-weight: 700;
}

.calendar-day.k {
    border: .125rem solid #d327c1;
}

.calendar-day.i {
    border: .125rem solid #57c6fa;
}

.calendar-day.d {
    border: .125rem solid #2af21d;
}

.calendar-day.s {
    border: .125rem solid #ec1e21;
}

.disabled .calendar-day {
    border-color: #aaa !important;
}

.disabled .calendar-month.k, .disabled .calendar-month.i, .disabled .calendar-month.d, .disabled .calendar-month.s {
    background-color: #aaa !important;
    color: #fff !important;
}


/* --[ unset ]------------------------------------------------------------------------------------------------------- */
.no_a {
    color: unset;
    text-decoration: unset;
}

a.disabled {
    pointer-events: none;
}

.hide {
    display: none;
}

/* --[ sponsors ]---------------------------------------------------------------------------------------------------- */
img.event_sponsor {
    width: 50px;
    height: auto;
    max-height: 50px;
    margin: 2px;
}

img.sponsor {
    height: auto;
    max-height: 160px;
}

div.sponsor-wrapper {
    height: 160px;
    background-color: #FFF;
}

div.sponsor-body {
    background-color: #FFF;
    color: #57c6fa;
    font-weight: bold;
}

div.sponsor-body:hover {
    background-color: #57c6fa;
    color: #FFF;
}

/* --[ Content ]----------------------------------------------------------------------------------------------------- */
h1, h2, h3 {
    color: #57c6fa;
}

h4, h5, h6 {
    color: #aaa;
}
