@font-face {
    font-family: neon;
    src: url(/assets/fonts/neon-regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: neon;
    src: url(/assets/fonts/neon-bold.woff);
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Muli';
}

.logo {
    display: block;
    text-transform: uppercase;
    font-family: neon;
    font-size: 2rem;
}

.logo .m {
    color: #efefef;
}

.logo .k {
    color: #d327c1;
}

.logo .i {
    color: #57c6fa;
    margin-left: -0.5rem;
}

.logo .d {
    color: #2af21d;
    margin-left: -0.5rem;
}

.logo .s {
    color: #ec1e21;
    margin-left: -0.5rem;
}

footer {
    display: block;
    background-color: #000;
    font-family: 'Oswald';
}

footer .container {
    padding: 1rem;
    color: #FFF;
}

footer li {
    list-style-type: none;
}

footer a, footer a:visited {
    color: #a6a6a6;
    text-decoration: none;
}

footer a:hover {
    color: #ff8454;
    text-decoration: none;
}

footer .logo {
    font-size: 1.5rem;
}

footer .logo .i {
    margin-left: -5pt;
}

footer .logo .d {
    margin-left: -5pt;
}

footer .logo .s {
    margin-left: -5pt;
}

footer h5 {
    font-size: 1.5rem;
    display: block;
    text-transform: uppercase;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.navbar {
    text-transform: uppercase;
    font-family: 'Oswald';
    background-color: #000 !important;
}

.nav-link, .nav-link:visited {
    color: #FFF;
    text-decoration: none;
}

.nav-link:hover {
    color: #ec1e21;
    text-decoration: none;
}

.nav-link.active {
  color: #d327c1;
}

.navbar-toggler {
    color: #FFFFFF;
}

/* -- [ latestUpdate-bar ]------------------------------------------------------------------------------------------- */
.latestUpdate.small-gap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.latestUpdate {
    padding: 0;
    background: #f1f1f1;
}


/* -- [ time ]------------------------------------------------------------------------------------------------------- */
time.icon {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon *
{
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #d327c1;
}

time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #d327c1;
}

time.icon span
{
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

/* -- [ tile ]------------------------------------------------------------------------------------------------------- */
.btn-default {
    background-color: transparent !important;
}

.tile-overview {
    margin-top: -5px;
}

.tile-overview ul {
    float: left;
    margin: 10px;
}

.tile {
    padding: 0;
    width: 100%;
    height: auto;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    border-image-repeat: stretch;
    border-image-source: none;
    border: 1px solid #000;
    box-sizing: border-box;
    color: rgb(126, 126, 126);
    display: block;
}

.tile > li {
    display: block;
    background-color: #FFF;
}

.tile > li > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    margin-bottom: 2px
}

.tile > li.title {
    background-color: transparent;
    padding: 0 15px 0 15px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tile-overview .tile {
    width: 230px ! important;
    background-color: #000;
    color: #ffffff;
}

.tile-overview .tile > li > img {
    height: 129px ! important
}

.tile-overview .tile:hover {
    background-color: #2af21d;
}

