---
layout: default
---
{% assign events = site.data.events | sort: 'start'  %}

<div class="row">
    {% for event in events %}
    <div class="col-md-6">
        <div class="card" style="margin: 1rem">
            <img class="card-img-top" alt="{{event.name}}" src="{{event.thumbnail}}">
            <div class="card-body">
                <time datetime="2014-09-20" class="icon" style="float: left; margin-right: 1rem">
                    <em>{{ event.start | date: '%A' }}</em>
                    <strong>{{ event.start | date: '%B' }}</strong>
                    <span>{{ event.start | date: '%d' }}</span>
                </time>

                <h3>{{ event.name }}</h3>
                <p>{{ event.description }}</p>
                <p>Locatie: {{event.location}}</p>

                {% if event.map %}
                <p>
                    <a class="btn btn-info"
                       target="_blank"
                       href="https://www.google.nl/maps/place/{{ event.map | url_encode }}">
                        <i class="fas fa-map-marked-alt"></i>
                    </a>
                </p>
                {% endif %}

                {% if event.ticket %}
                <p>
                    <a target="_blank"
                       class="btn btn-primary mt-auto"
                       href="{{ event.ticket }}">
                        Ticket reserveren
                    </a>
                </p>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>
