---
layout: default
---
<div class="hero-fp">
    <div class="wrap">
        <div class="latestUpdate small-gap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for image in page.carousel %}
                                <li data-bs-target="#carouselIndicators"
                                    data-bs-slide-to="{{ forloop.index0 }}"
                                    {% if forloop.index0== 0 %}
                                    class="active"
                                    {% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for item in page.carousel %}
                                <div
                                    {% if forloop.index0== 0 %}
                                    class="carousel-item active"
                                    {% else %}
                                    class="carousel-item"
                                    {% endif %}
                                    data-bs-interval="2000">
                                    <img src="{{ item.image }}" class="d-block w-100" alt="{{ item.name }}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        {% assign events = site.data.events | sort: 'start' | reverse %}
                        {% for event in events limit:4 %}

                        <a target="_blank" class="no_a disabled"
                           event-start="{{ event.start | date: '%FT%T%z' }}"
                           event-end="{{ event.end | date: '%FT%T%z' }}"
                           href="{{ event.ticket }}">
                            <div class="card" style="margin: 1rem">
                                <div class="card-header">
                                    <div class="calendar">
                                        <span class="calendar-month k">{{ event.start | date: '%b' }}</span>
                                        <span class="calendar-day k">{{ event.start | date: '%d' }}</span>
                                    </div>
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{ event.start | date: "%k:%M" }} - {{ event.end | date: "%k:%M" }}
                                    </h6>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        <a href="/evenementen/">Meer evenementen ...</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="listing">
    <div class="wrap container">
        <article class="page">
            {{ content }}
        </article>
    </div>
</div>

<script>
    $(document).ready(function () {
        let datumToday = new Date();
        datumToday.setDate(datumToday.getDate() - 1);
        datumToday.setHours(0, 0, 0, 0);

        $('a[event-start]').each(function () {
            let datumEnd = new Date($(this).attr('event-end'));
            if (datumEnd >= datumToday) {
                $(this).removeClass('disabled');
            }
        });
    });
</script>
2021-06-19 16:00:00 +0100
